.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-apiroot {
  width: 400px;
}

.App-panels {
  height: 100%;
  display: flex;
  flex: 1;
}

.App-History {
  padding: 4px;
  flex: 1;
}

.App-Request {
  padding: 4px;
  flex: 2;
}

.App-Request-url {
  display: flex;
}

.App-Request-url input {
  flex: 1;
}

.App-Response {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.App-Response-Headers {
  background-color: #E0E0E0;
  padding: 8px;
}

.App-Response-Body {
  flex: 1;
  overflow-y: auto;
}

.App-HistoryList {
  list-style: none;
  padding: 0;
}

.App-HistoryList li {
  margin: 4px;
  padding: 8px;
  border: 1px solid #CCC;
  display: flex;
  cursor: pointer;
  transition: 0.25s all;
}

.App-HistoryList li:hover {
  background-color: #F0F0F0;
}

.App-HistoryList li.selected {
  border-color: #333;
}

.App-HistoryList-endpoint {
  flex: 1;
  padding: 0px 8px;
}

.App-HistoryList-status {
  font-weight: bold;
}

.badge {
  color: white;
  border-radius: 3px;
}

.badge-get {
  background-color: green;
  padding: 0px 4px 2px;
}