.App {
  display: flex;
  height: 100%;
}

.App-history {
  flex: 1;
}

.App-params {
  flex: 2;
}

.App-results {
  flex: 2;
}

.App-HistoryList {
  list-style: none;
  padding: 8px;
}

.App-HistoryList li {
  padding: 8px;
  border: 1px solid #CCC;
  display: flex;
}

.App-HistoryList li.selected {
  border-color: #999;
}

.App-HistoryList-endpoint {
  flex: 1;
  padding: 0px 8px;
}

.App-HistoryList-status {
  font-weight: bold;
}

.App-headers {
  background-color: #E0E0E0;
  padding: 8px;
}

.badge {
  color: white;
  border-radius: 3px;
}

.badge-get {
  background-color: green;
  padding: 1px 4px;
}